// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #2f4f4f;
$secondary : #E8F0FE;
$accent    : #2f4f4f; // Monochromatic

$tetra2: #3F2F4F;
$tetra3: #4F2F2F;
$tetra4: #3F4F2F;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #77ba77;
$negative  : #4F2F2F;
$info      : #00c9d0;
$warning   : #3F2F4F;
